.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* my-app/src/App.css */
html, body {
  height: 100%; /* Ensure full height for gradient */
  margin: 0; /* Remove default margin */
}

body {
  background: linear-gradient(135deg, black, #483A5F); /* Gradient between black and #483A5F */
  color: #ffffff; /* White text */
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent scrollbars from appearing */
}

.dapp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative; /* Position relative for absolute highlight */
  height: 100%; /* Ensure full height for container */
}

.title {
  font-size: 90px; /* Increased font size for the title */
  font-weight: bold; /* Bold text */
  color: #8347E5; 
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7)); /* Drop shadow for better contrast */
}

.button {
  background-color: #8347E5; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px; /* Increased padding for bigger buttons */
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Added transform for scaling */
  font-size: 16px; /* Increased font size */
}

.button:hover {
  background-color: #a576ef; 
  transform: scale(1.05); /* Scale up on hover */
}

.transaction-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #d5006d; /* Pink border */
  border-radius: 5px;
  background-color: #1e1e1e; /* Darker background for transaction area */
}
